<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Dojo and Ninjas</title>
    <style>
        .two_columns{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            margin: 20px;
        }
        .display_all {
            width: 200px;
            margin-left: 500px;
        }
    </style>
</head>
<body>
    <center>
    <div class="two_columns">
    <div class="add_dojo">
        <h2>Add a Dojo</h2>
        <form action="/dojos" method="POST">
            {% csrf_token %}
        <p>Name : <input type="text" name="dojo_name"></p>
        <p>City : <input type="text" name="dojo_city"></p>
        <p>State : <input type="text" name="dojo_state"></p>
        <input type="submit" value="Add">
        </form>
    </div>
    <div class="add_ninja">
        <h2>Add a Ninja</h2>
        <form action="/ninja" method="POST">
            {% csrf_token %}
        <p>First Name : <input type="text" name="first_name"></p>
        <p>Last Name : <input type="text" name="last_name"></p>
        <p>Dojo 
            <select name="dojo_menu">
                {%for i in dojos%}
            <option value="{{i.name}}">{{i.name}}</option>
            {%endfor%}
        </select></p>
        <input type="submit" value="Add">
        </form>
    </div>
</div>
</center>
    <hr>
    <div class="display_all">
        {%for i in dojos%} 
        {{i.name}}
        <ul> 
            {%for j in i.ninjas.all%}
            <li>{{j.first_name}}</li>
        </ul>
        {%endfor%}
        {%endfor%}
    </div>

</body>
</html>