<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <style>
        *{
            margin: 0 auto;
            padding: 0 auto;
        }
        form{
            border: 2px solid black;
            padding: 5px;
            width: 500px;
        } 
        input[type="text"], select, textarea{
            display: inline-block;
            margin:20px;

        }
        button{
            margin: 20px;
            margin-left: 400px;
        }
    </style> 
</head>
<body>
        <form action="/results" method="post">
            <label for="">Your Name :</label>
            <input type="text" name="Your_Name"> <br>
            <label for="">Dojo Location :</label>
            <select name="Dojo_Loc" >
                <option value="ramallah">Ramallah</option>
                <option value="hebron">Hebron</option>
                <option value="nablus">Nablus</option>
            </select> <br>
            <label for="">Favorite Language : </label>
            <select name="Fav_Lan" >
                <option value="Java">Java</option>
                <option value="python">Python</option>
                <option value="javascript">JavaScript</option>
            </select> <br>
            <label for="">Comment (Optional)</label>
            <textarea name="text_box" cols="50" rows="5" ></textarea> 
            <button type="submit">Button</button>
        </form>
    
</body>
</html>