<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    <style>
        .correct_guess{
            width: 200px;
            height: 200px;
            background-color: red;
            text-align: center;
            border: 2px solid black;
        }

    </style>
</head>
<body>
    <h1>Welcome to the Great Number Game</h1>
    <h3>I'm thinking of a number between 1 and 100<br>
    Take a guess!</h3>
    {if request.session.input_number}
    <div class="correct_guess">
        <h3> {{request.POST['input_number']}} was the number !</h3>
    </div>
    <form action="" mathod='POST'>
        <input type="submit" value="Play again!">
        </form>
    
</body>
</html>