<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>playground</title>
</head>
<body>
    
    <div class="asd" style="display: flex; justify-content: space-around; align-content: center; flex-wrap: wrap;">
    <h1 >Welcome</h1>
</div>
    <div class="asd" style="display: flex; justify-content: flex-start; align-content: center; flex-wrap: wrap;">
    {% for x in range (0,number)%}
        <div class="ss" style="background-color:{{color}};width:200px;height:200px;border:2px solid black;margin:10px;"></div>
    {%endfor%}
    </div>

</body>
</html>